<!DOCTYPE html>

<html>
	<head>
		<title>AZ Danisen | Coming Soon!</title>

		<link rel="stylesheet" href="/mdl/material.css">
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/stylesheets/helpers.css">
		<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	</head>
	
	<body>
	{{{body}}}
	</body>
</html>